.applist{
    width: 100px;
    border: 2px solid cyan;
    box-shadow: 0 0 8px 5px rgb(157, 250, 250);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: 20px;
}

.image{
    border-radius: 10px;
    width: 100%;
}